// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav {
	margin-top: 70px;
	height: 50px;
	width: 100%;
}

#nav_links {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: table;
}

hr {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#nav_links a {
	text-decoration: none;
	display: table-cell;
}

#nav_links a:hover {
	background-color: white;
	color: black;
	text-decoration: underline;
	
}

table {
	margin-left: auto;
	margin-right: auto;
}

#label {
	font-weight: bold;
	vertical-align: top;
}

#fields {
	width: 400px;
}

#submit {
	float: right;
}

textarea, #event_title, #event_location_city, #event_location_zip {
	color: grey;
}

.required :after {
	color: #DF0101;
	content: " *";
	display: inline;
}

footer.controller-events {
	display: none;
}

img#food {
	border: solid 1px;
}

td#food > * {
	vertical-align: middle;
}

#two-columns {
	overflow: hidden;
	margin-bottom: 60px;
}

#first, #second {
	margin-right: 20px;
	width: 400px;
	float: left;
	padding-bottom: 100000px;
	margin-bottom:  -100000px;
	text-align: justify;
}

#first {
	margin-left: 20px;
	text-align: center;
	padding-top: 200px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	background: lightgray;
}

